@use postcss-preset-env;

html {
  overflow-x: hidden;
}
html,
body {
  padding: 0;
  margin: 0;
}
.totalcontainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: -10;
  animation: sunfade 40s infinite;
}
.container1 {
  transform: scaleX(1.11);
}
.container2 {
  transform: scaleX(1.25);
}
.layer-1 {
  height: 100vh;
  width: 100%;
  background-color: #fed8c1;
}

.layer-2 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay2.svg")
    no-repeat center center fixed;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.layer-3 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay3.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}
.layer-4 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay4.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}
.layer-5 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453880/codepen/lay5.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.55s
    both;
}
.layer-6 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453881/codepen/lay6.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s
    both;
}
.layer-7 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453881/codepen/lay7.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.85s
    both;
}
.layer-8 {
  background: url("https://res.cloudinary.com/dkgrf00g1/image/upload/v1536453882/codepen/lay8.svg")
    no-repeat center center fixed;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
}
.laya-please {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0px;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.suncontainer {
  margin-top: 25vh;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sun {
  width: 120px;
  height: 120px;
  background-color: #ffdb41;
  border-radius: 50%;
  animation: sunanimation 40s infinite;
  z-index: -20;
}

@keyframes sunanimation {
  0% {
    transform: rotate(220deg) translateX(30vw);
  }
  100% {
    transform: rotate(360deg) translateX(30vw);
  }
}

@keyframes sunfade {
  0% {
    filter: brightness(30%);
  }
  30% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(30%);
  }
}

.my-search {
  width: 40vw;
  border: 2px solid #bbbbbb;
  color: #000000;
  padding-left: 10px;
  background-color: transparent;
  font-weight: bold;
}

#warning {
  display: none;
  color: white;
}
.warningSearch {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.input {
  display: flex;
  flex-direction: column;
}

.newContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 86vh;
  min-height: 390px;
}

@media screen and (width<1000px) {
  .newContainer {
    flex-direction: column;
  }
  .my-search {
    width: 90vw;
    margin-bottom: 20px;
    margin-right: 0px !important;
  }
  .warningSearch {
    flex-direction: column;
  }
  .totalcontainer {
    animation: none;
  }
  .sun {
    animation: none;
  }
  .suncontainer {
    margin-top: 0vh;
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.warningDiv{
  display: flex;
  flex-direction: column;
}

.hello{
  color: #ffffff;
}